<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlauncher.dao.AssignmentDao">
    <insert id="insertAssign">
        INSERT INTO cms_assignment(assign_user_id, assign_role_id) VALUES (#{userId},#{roleId})
    </insert>

    <delete id="deleteAssign" parameterType="int">
        DELETE FROM cms_assignment WHERE assign_id=#{assignId}
    </delete>

    <select id="listAssign" parameterType="int" resultType="int">
        SELECT assign_role_id FROM cms_assignment WHERE assign_user_id=#{userId};
    </select>

    <delete id="deleteAssignByUser" parameterType="int">
        DELETE FROM cms_assignment WHERE assign_user_id=#{userId}
    </delete>

    <delete id="deleteAssignByRole" parameterType="int">
        DELETE FROM cms_assignment WHERE assign_role_id=#{roleId}
    </delete>

</mapper>